# Ignorar dependencias locales y archivos innecesarios
node_modules
dist
pnpm-store
pnpm-lock.yaml

# Ignorar archivos de entorno sensibles
.env
.env.local
.env.development
.env.production

# Ignorar archivos de configuración del editor
.vscode
.idea
.DS_Store
*.log
